click==8.1.7
dgl==2.0.0+cu117
dglgo==0.0.2
matplotlib==3.8.3
networkx==3.2.1
numpy==1.26.4
numpydoc==1.6.0
ogb==1.3.6
opt-einsum==3.3.0
pandas==2.2.0
pillow==10.2.0
pyg-lib==0.3.1+pt20cu117
pytest==8.0.0
PyYAML==6.0.1
requests==2.28.1
scikit-learn==1.4.0
scipy==1.12.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
sympy==1.12
tabulate==0.9.0
threadpoolctl==3.2.0
tomli==2.0.1
torch==2.0.0+cu117
torch-cluster==1.6.3+pt20cu117
torch-scatter==2.1.2+pt20cu117
torch-sparse==0.6.18+pt20cu117
torch-spline-conv==1.2.2+pt20cu117
torch_geometric==2.4.0
torchaudio==2.0.1+cu117
torchdata==0.7.1
tqdm==4.66.2


